@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="for-line"><hr /></div>
    <div class="for-title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="for-line"><hr /></div>

</div>

<div class="for-privacy">
    <p>
        This site is created by the team 'Student's Success'
        <br>AMI-31 the Ivan Franko National University of Lviv
    </p>
    </div>

