@model StudentsProgress.Web.Data.Entities.Attendance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Student.User.LastName @Model.Student.User.FirstName's attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PassesCount" class="control-label"></label>
                <input asp-for="PassesCount" class="form-control" />
                <span asp-validation-for="PassesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input disabled="" asp-for="Subject.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Subject.LecturesCount" class="control-label"></label>
                <input disabled="" asp-for="Subject.LecturesCount" class="form-control" />
            </div>
            @Html.HiddenFor(x => x.SubjectId)
            @Html.HiddenFor(x => x.StudentId)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
